body {
  background: #ccedf3;
}

.countryDetailsContainer {
  width: 60%;
  margin: 1rem auto;
}

.flag {
  width: 100%;
  margin: 0;
  height: 400px;
}

.tableHead {
  font-size: 2rem;
  background-color: var(--primary-color);
}

.countryDetailsTable {
  width: 100%;
}

.label {
  text-align: center;
  font-size: 1.5rem;
}

.value {
  border: 1px solid rgb(187, 149, 157);
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-transform: capitalize;
}

.tableBody tr:nth-child(odd) {
  background-color: var(--primary-dark-color);
}

.tableBody tr:nth-child(even) {
  background-color: var(--primary-color);
}
