nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: var(--secondary-color);
  gap: 200px;
}

h3 {
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
  color: black;
}

img {
  cursor: pointer;
  margin: 0.5rem;
}
